HelloWorldProject/SOA/Schemas/UnderWriterTaskPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/bpm/webform/formsData/loanForm">
   <import namespace="http://xmlns.oracle.com/bpm/webform/formsData/loanForm" schemaLocation="../forms/data/LoanForm.xsd"/><element name="HumanTaskPayload" type="tns:UnderWriterTaskPayloadType"><annotation><appinfo><globalElement xmlns="http://www.frevvo.com/appinfo">true</globalElement></appinfo></annotation></element><complexType name="UnderWriterTaskPayloadType">
      <sequence><element name="LoanForm" type="ns0:LoanFormBOType"/></sequence>
   </complexType>
</schema>